* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 70px;
    z-index: 10;
}

header.abajo {
    background-color: rgb(121, 149, 173);
    padding: 15px 70px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    position: relative;
    width: 200px;
    height: auto;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

header :hover {
    color: red;
    transition: 0.5s;
}

/*---------------------------------Inicio-------------------------------*/
.Inicio {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(img/logoGYM.png);
    background-size: cover;
    background-position: center center;
}


/*-------------------------------Actividades--------------------------------------------*/
.Actividades {
    font-family: "Anta", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px;
    text-align: center;
}
.Actividades h1{
    padding-bottom: 30px;
}
/*-------------------------------Monitores--------------------------------------------*/
.Monitores {
    font-family: "Anta", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px;
    text-align: center;
}

.Monitores h1 {
    padding-bottom: 30px;
}

/*-------------------------------Blog--------------------------------------------*/
.Blog {
    font-family: "Anta", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px;
    text-align: center;
}
.Blog h1{
    padding-bottom: 30px;
}
/*----------------------Contacto--------------------------------------*/
.Contacto {
    font-family: "Anta", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px ;
    text-align: center;
}
.Contacto h1{
    padding-bottom: 30px;
}
.Contacto form {
    width: 460px;
    height: auto;
    margin: 40px 40px 5% 34%;
    border-radius: 10px;
    padding: 30px 20px 30px 30px;
    background-color: #d12323;
}

.Contacto input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Contacto button {
    background-color: #252926;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Anta", sans-serif;
}

.Contacto button:hover {
    background-color: #e6f0e7;
    color: black;
    font-family: "Anta", sans-serif;
}

.Contacto label {
    display: block;
    margin-bottom: 10px;
}
.Contacto .informacion p{
    margin-bottom: 20px;
}
.Contacto .informacion a{
    text-decoration: none;
    color: black;
}
.Contacto .informacion table{
    margin-bottom: 20px;
    text-align: center;
}
.Contacto .informacion ul{
    list-style-type: none;
    margin: 20px;
}
/*----------------------Pie de pagina-------------------------------*/
footer{
    background-color: aquamarine;
    text-align: center;
    padding: 30px;
}
footer p{
    font-family: "Anta", sans-serif;
    font-weight: 100;
}